import React from "react";
import {{curly true}} {{ properCase name }}ViewModel {{curly}} from "./{{ properCase name }}ViewModel";

const {{ properCase name }} = ({
}: {{ properCase name }}ViewModel) => {

  return (
    <div>
      {{ properCase name }} ready
    </div>
  );
};

export default {{ properCase name }};